body {
margin: 0;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
}


.navbar {
width: 100%;
display: flex;
justify-content: flex-end;
align-items: center;
padding: 20px 40px;
box-sizing: border-box;
position: fixed;
top: 0;
right: 0;
background: white;
}


.nav-links {
display: flex;
gap: 40px;
font-size: 20px;
}


.nav-links a {
text-decoration: none;
color: black;
font-weight: bold;
}


.nav-links a:hover {
opacity: 0.7;
}


.logo {
font-size: 24px;
font-weight: bold; 
margin-right: auto;
text-decoration: none;
color: black;
}


.hamburger {
display: none;
flex-direction: column;
gap: 5px;
background: none;
border: none;
cursor: pointer;
padding: 5px;
}


.hamburger span {
width: 30px;
height: 3px;
background: black;
}


@media (max-width: 800px) {
.nav-links {
position: absolute;
top: 80px;
right: 0;
background: white;
flex-direction: column;
width: 200px;
padding: 20px;
gap: 20px;
display: none;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.nav-links.open {
display: flex;
}


.hamburger {
display: flex;
}
}

